{% extends "base.html" %}

{% block content %}

<div class="staff-layout">

    <aside class="staff-sidebar">

        <h2>Staff CMS</h2>

        <nav>

            <a href="{% url 'dashboard' %}">
                Dashboard
            </a>

            {% if request.user.role == "SUPER_ADMIN" %}

                <a href="#">
                    Manage Admin Accounts
                </a>

                <a href="#">
                    Notifications
                </a>

                <a href="#">
                    Profile
                </a>

            {% elif request.user.role == "ADMIN" %}

                <a href="#">
                    Manage Staff Accounts
                </a>

                <a href="#">
                    Notifications
                </a>

                <a href="#">
                    Profile
                </a>

            {% elif request.user.role == "ADVISER" %}

                <a href="#">
                    Analytics
                </a>

                <a href="#">
                    Notifications
                </a>

                <a href="#">
                    Profile
                </a>

            {% elif request.user.role == "EIC" %}

                <a href="{% url 'create_article' %}">
                    Create Article
                </a>

                <a href="{% url 'pending_submissions' %}">
                    Pending Submissions
                </a>

                <a href="#">
                    Published Articles
                </a>

                <a href="#">
                    Edit Requests
                </a>

                <a href="#">
                    Deletion Requests
                </a>

                <a href="#">
                    Staff Reports
                </a>

                <a href="#">
                    Archive
                </a>

                <a href="#">
                    Notifications
                </a>

                <a href="#">
                    Profile
                </a>

            {% elif request.user.role == "EDITOR" %}

                <a href="{% url 'create_article' %}">
                    Create Article
                </a>

                <a href="#">
                    My Drafts
                </a>

                <a href="{% url 'my_submissions' %}">
                    My Submissions
                </a>

                <a href="{% url 'resubmitted_submissions' %}">
                 Resubmitted Submissions
                </a>

                <a href="#">
                    Edit Requests
                </a>

                <a href="#">
                    Deletion Requests
                </a>

                <a href="#">
                    Notifications
                </a>

                <a href="#">
                    Profile
                </a>

            {% elif request.user.role == "STAFF" %}

                <a href="#">
                    Content Reports
                </a>

                <a href="#">
                    My Reports
                </a>

                <a href="#">
                    Notifications
                </a>

                <a href="#">
                    Profile
                </a>

            {% endif %}

            <a href="{% url 'logout' %}">
                Logout
            </a>

        </nav>

    </aside>

    <section class="staff-content">

        {% block staff_content %}
        {% endblock %}

    </section>

</div>

{% endblock %}


